<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game_Rental.Properties.Settings.Game_RentalConnectionString"
            connectionString="Data Source=DESKTOP-KGKSC38\SQLEXPRESS;Initial Catalog=Game_Rental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Game_Rental.Properties.Settings.Game_RentalConnectionString1"
            connectionString="Data Source=DESKTOP-5CQ45GJ;Initial Catalog=Game_Rental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>